.quiz {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  background-color: #fff;
  padding-top: 70px;
  height: 100vh;

  & h1 {
    color: black;
  }
}

.quiz-wrapper {
  width: 700px;
}