.active-quiz {
  padding: 20px;
  color: gray;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}